<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Tanami"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tanamigemastik"
        tools:targetApi="31">
        <activity
            android:name=".KonsultasiChat"
            android:exported="false" />
        <activity
            android:name=".CekHasilTanaman"
            android:exported="false" />
        <activity
            android:name=".PesananDibuat"
            android:exported="false" />
        <activity
            android:name=".Checkout"
            android:exported="false" />
        <activity
            android:name=".Keranjang"
            android:exported="false" />
        <activity
            android:name=".DetailProduk"
            android:exported="false" />
        <activity
            android:name=".RiwayatKonsultasiSelesai"
            android:exported="false" />
        <activity
            android:name=".RiwayatKonsultasi"
            android:exported="false" />
        <activity
            android:name=".PembayaranBerhasil"
            android:exported="false" />
        <activity
            android:name=".Pembayaran"
            android:exported="false" />
        <activity
            android:name=".DetailKonsultasi"
            android:exported="false" />
        <activity
            android:name=".JadwalKonsultasi"
            android:exported="false" />
        <activity
            android:name=".JenisTanamanKonsultasi"
            android:exported="false" />
        <activity
            android:name=".PaketKonsultasi"
            android:exported="false" />
        <activity
            android:name=".OnboardingKonsultasi"
            android:exported="false" />
        <activity
            android:name=".Konsultasi"
            android:exported="false" />
        <activity
            android:name=".DetailTodo"
            android:exported="false" />
        <activity
            android:name=".TambahTodo"
            android:exported="false" />
        <activity
            android:name=".Todo"
            android:exported="false" />
        <activity
            android:name=".Produk"
            android:exported="false" />
        <activity
            android:name=".TanamiCoin"
            android:exported="false" />
        <activity
            android:name=".Homepage1"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Daftar"
            android:exported="false" />
        <activity
            android:name=".OnboardingLoginSignup"
            android:exported="false" />
        <activity
            android:name=".Onboarding"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>